*,
*::before,
*::after {
    box-sizing: border-box;
}

ul,
ol,
li {
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

html,
body {
    height: 100%;
    line-height: 1;
    font-family: "League Spartan", sans-serif;
    font-size: 18px;
    background-color: #263238;
}

.main {
    flex: 1 1 auto;
}

[class*="__container-content"] {
    max-width: 1420px;
    box-sizing: content-box;
    margin: 0 auto;
}

[class*="__container"] {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 100px;
}

@media (max-width: 1366px ) {
    [class*="__container"] {
        max-width: 1100px;
        padding: 0 50px;
    }
}

@media (max-width: 768px ) {
    [class*="__container"] {
        padding: 0 16px;

    }
}

@media (max-width: 767px ) {
    /*[class*="__container"] {*/
    /*    max-width: none;*/
    /*}*/
}

/*------------------------------------------------------------------------------------------------------------------*/
.header {
    position: absolute;
    width: 100%;

}

.header__container {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.header__logo {
    position: relative;
}

.header__menu {
    flex: 1 1 auto;
}

.menu {
    display: flex;
    justify-content: flex-end;
    padding: 0 40px 0 0;
}

.menu__list {
    position: absolute;
    display: flex;
    gap: 44px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu__item.button_group {
    display: none;
}

.menu__link {
    font-family: "Lato", sans-serif;
    font-size: 18px;
    color: #fff;
    letter-spacing: 1px;
}

.header__actions {
    display: flex;
    gap: 10px
}

.button {
    font-family: "Lato", sans-serif;
    height: 65px;
    width: 145px;
    border-radius: 10px;
    color: white;
    border: 1px solid #23B123;
    background-color: #23B123;
}

.button_border {
    border: 1px solid #ffffff;
    background-color: #263238;
}

.decor {
    position: relative;
    width: 585px;
    height: 585px;
    border: 1px solid #fff;
    border-radius: 360px;
}

.decor__one {
    position: absolute;
    top: -261px;
    left: -120px;
}

.decor__two {
    position: absolute;
    top: -206px;
    left: -171px;
}

.menu-btn {
    display: none;
}

.menu__list_burger {
    display: none;
}

.intro {
    position: relative;
    min-height: 1050px;
}

.intro__container-content {
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 250px 15px 0;
}

.intro__title {
    font-weight: 700;
    font-size: 70px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px #000;
}

.green-text {
    color: #23B123;
}

.intro__text {
    font-weight: 100;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    line-height: 180%;
    margin-top: 70px;
}

.wrapper__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 533px;
    height: 76px;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-top: 50px;

}

.form {
    width: 325px;
    height: 70px;
    border: transparent;
}

::placeholder {
    color: #263238;
    font-size: 18px;
}

.button__form {
    width: 163px;
    margin-right: 6px;
}

.svg {
    position: absolute;
}

.page-svg__full-star {
    left: 23%;
    top: 33%;
}

.page-svg__dollar {
    left: 10%;
    top: 60%;
}

.page-svg__round {
    left: 23%;
    top: 69%;
}

.page-svg__money {
    top: 12%;
    right: 30%;
}

.page-svg__N {
    top: 33%;
    right: 7%;
}

.page-svg__full-round {
    top: 37%;
    right: 20%;
}

.page-svg__star {
    right: 20%;
    top: 70%;
}

.intro-brand__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 200px;
}

.works__container-content {
    padding: 200px 15px 0;
}

.how-works {
    min-height: 750px;
}


.title {
    font-family: 'League Spartan', sans-serif;
    font-size: 64px;
    margin-top: 29px;
    color: white;

}

.works__container {
    display: flex;
    margin-top: 200px;
    max-width: 1526px;
}

.works__text {
    font-family: 'League Spartan', sans-serif;
    font-size: 18px;
    line-height: 177%;
    color: #FFFFFF;
    text-shadow: 1px 1px #000;
}

.works__list {
    display: flex;
    flex-direction: column;
}

.works__item {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.item__swg {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 32px;
    width: 110px;
    height: 110px;
    border-radius: 110px;
    background: rgba(0, 128, 0, 0.10);
}

.item__block-text {
    font-family: 'League Spartan', sans-serif;
    color: #FFFFFF;
}

.item__title {
    font-size: 20px;
}

.item__text {
    font-size: 18px;
    margin-top: 16px;
    line-height: 180%;
}

.works__img-block {
    position: relative;
    min-width: 700px;
    height: 936px;
    border-radius: 20px;
    margin-left: 100px;
    overflow: hidden;

    background: rgba(255, 255, 255, 0.05);
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.1s ease, transform 0.8s ease;
}

.works__img-block.show {
    opacity: 1;
    transform: translateY(0);
}


.img__decor-one {
    position: absolute;
    top: -147px;
    right: -281px;
}

.img__decor-two {
    position: absolute;
    top: -107px;
    right: -301px;
}

.img {
    position: absolute;
    width: 610px;
    height: 554px;
    /*top:166px;*/
    /*right: 45px;*/
    margin: 166px 45px;
    border-radius: 20px;
}

.pathway {
    min-height: 800px;
}

.pathway__container {
    padding-top: 200px;
    display: flex;
    max-width: 1526px;
    margin-right: auto;
}

.pathway__img-block {
    position: relative;
    min-width: 594px;
    height: 660px;
    border-radius: 20px;
    margin-right: 100px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.05);
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.5s, transform 0.5s;
}

.pathway__img-block.show {
    opacity: 1;
    transform: translateY(0);
}

.pathway__decor-one {
    position: absolute;
    bottom: -147px;
    left: -369px;
}

.pathway__decor-two {
    position: absolute;
    bottom: -95px;
    left: -267px;
}

.img__pathway {
    position: absolute;
    width: 514px;
    height: 462px;
    margin: 99px 40px;
    border-radius: 20px;
}

.pathway__text {
    font-size: 18px;
    margin: 16px 15px 48px 0;
    padding-right: 25px;
    line-height: 180%;
    color: #FFFFFF;
}

/*.select__block {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    margin-top: 48px;*/
/*    gap: 24px;*/
/*}*/

/*.select{*/
/*    width: 500px;*/
/*    height: 90px;*/
/*    border-radius: 10px;*/
/*    background: rgba(255, 255, 255, 0.05);*/
/*    color: #FFF;*/
/*    font-size: 24px;*/
/*    font-family: "Spartan", sans-serif;*/
/*    font-style: normal;*/
/*    font-weight: 400;*/
/*    line-height: 177%;*/
/*}*/

.dropdown {
    position: relative;
    display: flex;
    margin-bottom: 24px;
}

.dropdown__selected {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 550px;
    height: 90px;
    padding: 24px 30px;
    border-radius: 10px;
    color: #FFF;
    font-family: "Spartan", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 177%;
    background-color: rgba(255, 255, 255, 0.05);
    cursor: pointer;
}

.dropdown__list {
    display: none;
    position: absolute;
    top: 90px;
    background-color: gray;
    width: 550px;
    height: 90px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    z-index: 1;
}

.dropdown__item {
    color: #FFFFFF;
    background-color: gray;
    font-family: "Spartan", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 177%;
    padding: 24px;
}

.dropdown__item:hover {
    background-color: #ddd;
}


/*--------------------------------------------------------------------------------------------------*/
@media (max-width: 1366px) {
    .menu__list {
        gap: 20px;
        padding: 0 30px;
    }

    .button {
        height: 45px;
        padding: 0 15px;
    }

    .menu {
        padding: 0 20px 0 0;
    }

    .decor {
        width: 540px;
        height: 540px;
    }

    .button.button__form {
        font-size: 18px;
        width: 163px;
        height: 65px;
    }
}

@media (max-width: 1200px) {
    .menu__list {
        position: absolute;
        gap: 40px;
        padding: 0 30px;
    }

    .decor {
        width: 450px;
        height: 450px;
    }

    .menu__link {
        font-size: 14px;
    }

    .header__button {
        font-size: 14px;
        height: 45px;
        width: 100px;
    }

    .works__container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .works__text-block {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .title {
        text-align: center;
    }

    .works__text {
        text-align: center;
        max-width: 500px;
        margin-top: 40px;
    }

    .works__img-block {
        margin-top: 40px;
        width: 650px;
        margin-left: 0;

    }


}

@media (max-width: 991px) {
    /*.menu__link {*/
    /*    display: none;*/
    /*}*/
    .menu__list {
        left: unset;
        position: fixed;
        opacity: 0;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 0.5s;
        right: 0;
        top: 0;
        padding-top: 100px;
        background-color: rgba(0, 0, 0, 0.7);
        height: 100vh;
        z-index: 5;
    }

    .menu__list.active {
        transform: translateX(0);
        opacity: 1;
    }

    .menu__item.button_group {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .menu-btn {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 30px;
        height: 20px;
        background: none;
        border: none;
        cursor: pointer;
        position: relative;
        z-index: 10;

    }

    .bar {
        width: 100%;
        height: 2px;
        background-color: white;
        transition: transform 0.3s ease;

    }

    .menu-btn.cross .bar:nth-child(1) {
        transform: rotate(45deg);
        position: absolute;
    }

    .menu-btn.cross .bar:nth-child(2) {
        transform: rotate(-45deg);
        position: absolute;
    }

    .menu-btn.cross .bar:nth-child(3) {
        display: none;
    }

    .header__actions {
        display: none;
    }

    .header__button-active {
        display: block;
        font-family: "Lato", sans-serif;
        height: 45px;
        width: 100px;
        border-radius: 10px;
        color: white;
    }

    .page-svg__full-star {
        left: 15%;
    }

    .page-svg__round {
        top: 55%;
        left: 30%;
    }

    .page-svg__money {
        top: 16%;
    }

    .page-svg__full-round {
        right: 20%;
    }

    .page-svg__N {
        top: 30%;
        right: 10%;
    }

    .page-svg__star {
        right: 15%;
        top: 55%;
    }
}

@media (max-width: 768px) {
    .decor {
        width: 380px;
        height: 380px;
    }

    .intro__title {
        font-size: 60px;
    }

    .wrapper__form {
        width: 433px;
        height: 66px;
    }

    .form {
        width: 225px;
        height: 60px;
    }

    .button.button__form {
        font-size: 16px;
        width: 120px;
        height: 55px;
    }

    .page-svg__dollar {
        left: 3%;
    }

    .page-svg__star {
        top: 52%;
    }

    .page-svg__round {
        left: 15%;
    }

    .page-svg__N {
        right: 3%;
    }

    .page-svg__full-star {
        left: 5%;
    }

    .item__swg {
        margin-right: 22px;
        width: 90px;
        height: 90px;
    }

    .works__img-block {
        margin-top: 40px;
        min-width: 500px;
        width: 500px;
        height: 636px;
        margin-left: 0;
    }

    .img {
        width: 410px;
        height: 354px;
    }
}

@media (max-width: 567px) {
    .intro__title {
        font-size: 50px;
    }

    .intro__text {
        font-size: 16px;
    }

    .wrapper__form {
        width: 290px;
        height: 56px;
    }

    .form {
        width: 180px;
        height: 50px;
    }

    .button.button__form {
        font-size: 14px;
        width: 80px;
        height: 40px;
    }

    .page-svg__money {
        top: 13%;
    }

    .page-svg__full-star {
        top: 30%;
        left: 1%;
    }

    .page-svg__round {
        top: 50%;
        left: 5%;
    }

    .page-svg__star {
        top: 60%;
    }

    .page-svg__dollar {
        left: 35%;
        top: 63%;
    }

    .intro-brand__container {
        margin-top: 150px;
    }

    .item__swg {
        margin-right: 22px;
        width: 70px;
        height: 70px;
    }

    .works__img-block {
        min-width: 300px;
        width: 300px;
        height: 436px;
    }

    .img {
        width: 260px;
        height: 254px;
        margin: 100px 25px;
    }
}

/*---------------------------------------------------------------------------------*/









