*,
*::before,
*::after {
    box-sizing: border-box;
}

ul,
ol,
li {
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

html,
body {
    height: 100%;
    line-height: 1;
    font-family: "Spartan", sans-serif;
    font-size: 18px;
    background-color: #263238;
}

.main {
    flex: 1 1 auto;
}

[class*="__container-content"] {
    max-width: 1420px;
    box-sizing: content-box;
    margin: 0 auto;
}

[class*="__container"] {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 100px;
}

@media (max-width: 1087px ) {
    [class*="__container"] {
        max-width: 970px;
    }
}

@media (max-width: 991px ) {
    [class*="__container"] {
        max-width: 750px;
    }
}

@media (max-width: 767px ) {
    [class*="__container"] {
        max-width: none;
    }
}

/*------------------------------------------------------------------------------------------------------------------*/
.header {
    position: absolute;
    width: 100%;

}

.header__container {
    position: relative;
    display: flex;
    align-items: center;
    padding: 60px 150px  ;
}

.header__logo {
    position: relative;
}

.header__menu {
    flex: 1 1 auto;
}

.menu {
    display: flex;
    justify-content: center;
    padding: 0 40px 0 0;
}

.menu__list {
    position: absolute;
    display: flex;
    gap: 44px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.menu__item {

}

.menu__link {
    font-family: "Lato", sans-serif;
    font-size: 18px;
    color: #fff;
    letter-spacing: 1px;

}

.header__button {
    font-family: "Lato", sans-serif;
    height: 65px;
    width: 145px;
    border-radius: 10px;
    color: white;

}

.header__actions {
    display: flex;
    gap: 10px
}

.button {
    border: 1px solid #23B123;
    background-color: #23B123;
}

.button_border {
    border: 1px solid #ffffff;
    background-color:#263238 ;

}



